AWS_PROFILE=default
AWS_REGION=ap-southeast-1

S3_BUCKET=vendor-payments-data-platform-thana
S3_PREFIX=data-platform/vendor-payments

VENDOR_PAYMENTS_ETL_ROOT=E:\dev\vendor-payments-etl-analytics
VENDOR_PAYMENTS_STREAMING_ROOT=E:\dev\vendor-payments-streaming-pipeline
AIRFLOW_OUTPUT_ROOT=E:\dev\vendor-payments-airflow-orchestration\output

REDSHIFT_WORKGROUP=default-workgroup
REDSHIFT_DATABASE=dev