AWS_PROFILE=default
AWS_REGION=ap-southeast-1

S3_BUCKET=vendor-payments-data-platform-thana
S3_PREFIX=data-platform/vendor-payments

VENDOR_PAYMENTS_ETL_ROOT=E:\dev\vendor-payments-etl-analytics
VENDOR_PAYMENTS_STREAMING_ROOT=E:\dev\vendor-payments-streaming-pipeline
AIRFLOW_OUTPUT_ROOT=E:\dev\vendor-payments-airflow-orchestration\output

REDSHIFT_WORKGROUP=default-workgroup
REDSHIFT_DATABASE=dev

ATHENA_DATABASE=vendor_payments_analytics
ATHENA_OUTPUT_LOCATION=s3://vendor-payments-data-platform-thana/athena-results/

STREAMING_CURATED_S3_LOCATION=s3://vendor-payments-data-platform-thana/data-platform/vendor-payments/streaming/curated/stream_window_003/